* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: "Mabry Pro";
  background-color: #000;
  color: #fff;
  background-image: linear-gradient(
    to left bottom,
    #0c2a0c,
    #1d2100,
    #221800,
    #201100,
    #180905,
    #170d0b,
    #151010,
    #141313,
    #1e1c1c,
    #282426,
    #312d30,
    #3b373b
  );
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 100vh;
}

.hero .img {
  width: 50%;
  aspect-ratio: 1;
}

.footer {
  height: 50vh;
  align-items: flex-start;
}

.footer a {
  font-size: 4vw;
  color: #fff;
}

.main {
  height: 150vh;
  flex-direction: column;
  overflow: hidden;
}

.row {
  position: relative;
  width: 100vw;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.card {
  position: relative;
  width: 40%;
  height: 360px;
  border-radius: 0.75em;
  overflow: hidden;
  will-change: transform;
}

.main-content {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.logo {
  width: 150px;
  height: 150px;
  border: 2px solid #fff;
  border-radius: 100%;
  overflow: hidden;
  transform: scale(0);
}

.copy {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line {
  position: relative;
  margin: 0.5em 0;
  width: max-content;
  height: 28px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.line p {
  position: relative;
  font-size: 24px;
  transform: translateY(30px);
}

button {
  position: relative;
  padding: 1em 2em;
  font-size: 18px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8em;
  background: none;
  outline: none;
  transform: translateY(30px);
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;
}

button:hover {
  background-color: #fff;
  color: #000;
  transform: translateY(25px);
}

@media (max-width: 900px) {
  .card {
    width: 50%;
    height: 240px;
  }
}
